<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid" id="topnav">
      <a class="nav-item" routerLink="/">< Back</a>
      
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav  ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>        
        </ul>
      </div>
    </div>
  </nav>
  <div *ngIf="user">
    <img src="{{user.avatar_url}}" height="50px" class="rounded-circle"/>
    <strong>{{user.name}}</strong>
    {{user.location}}
    
  </div>
