<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid" id="topnav">
      <a class="nav-item" href="#" *ng-if="login">< Back</a>
      
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav  ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>        
        </ul>
      </div>
    </div>
  </nav>
  
  
  <div clas="container" ng-if="!login">
    <h1>
      Top 5 GitHub Users
      
      
    </h1>
    
      <h6>Tap de username to see more information</h6>
      
    
    
      <button *ngFor="let user of users" type="button" class="btn btn-primary user" (click)="gotouser(user.login)">{{user.login}}</button>
    
    
  </div>